/* Estilos para la sección banner */
.banner {
    background-color: #f9f9f9;
    padding: 100px 0;
  }
  
  .banner h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .banner p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  .banner .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .banner .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  /* Estilos para la sección productos-destacados */
  .productos-destacados h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  
  .productos-destacados .card {
    border: none;
    margin-bottom: 30px;
  }
  
  .productos-destacados .card img {
    height: 250px;
  }
  
  .productos-destacados .card-body h5 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .productos-destacados .card-body p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }