*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(8, 8, 8);
}

.section-padding{
    padding: 70px 0;

}
.carousel-item{
    height: 80vh;
    min-height: 300px;
}
.carousel-caption{
    bottom:200px
    z-index: 2;
}
   


