body{
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0%;
}
.container{
    width: 100%;
    display: }


